.question {
  border: solid 3px black;
  border-radius: 15px;
}

.question-title {
  background-color: black;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.question-who {
  /*background-color: blue;*/
  font-size: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  align-content: center;
  /*margin-left: 10px;*/
}

.question-header-who {
  flex: 1 1 auto;
  padding-left: 5px;
}

.question-header-type {
  background-color: yellow;
  width: 330px;
}

.question-body {
  /*border-top: solid 5px gray;*/
  margin-left: 10px;
  margin-right: 10px;
}

.question-header {
  /*background-color: blue;*/
  font-size: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: solid 2px black;

  align-content: center;
  /*margin-left: 10px;*/

  .question-header-space {
    flex: 1 1 auto;
    border-top: solid 5px gray;
  }

  .question-header-no {
    width: 67px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: dotted 1px gray;
    border-top: solid 5px black;

    .question-header-no-text {
      width: 100%;
      text-align: center;
      border-bottom: solid 0.5px black;
    }
  }
}

.question-list {

  .question-item {
    /** {
        margin: 0 0 0 0;
      }*/

    .question-section {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .question-no {
        width: 20px;
        text-align: right;
      }

      .question-text {
        flex-grow: 1;
        padding-left: 5px;
        white-space: pre;
      }

      .question-section-odd {
        margin-left: 5px;
        flex-grow: 1;
        display: flex;
      }

      .question-section-even {
        background-color: aliceblue;
        margin-left: 5px;
        flex-grow: 1;
        display: flex;
      }

      .answer-box {
        width: 67px;
        border-left: dotted 1px gray;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .example-radio-button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .question-devide {
      margin-left: 25px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .question-devide-10unit {
      margin-top: 0px;
      margin-bottom: 0px;
      border: solid 1px black;
    }
  }
}

.question-footer {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   margin-left: 10px;
   margin-right: 10px;
 }









