<mat-toolbar color="primary">
  <span>마이엠수학</span>
  <span style="flex: 1 1 auto"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon>notifications_off</mat-icon>
      <span>home</span>
    </button>
    <button mat-menu-item routerLink="/question">
      <mat-icon>face</mat-icon>
      <span>문제</span>
    </button>
    <button mat-menu-item routerLink="/result">
      <mat-icon>stars</mat-icon>
      <span>결과</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
